.about {
    text-align: center;
    margin-top: 20px;
}

.about-text {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #0e86d4; /* A pinkish-red color */
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.about-des {
    font-size: 24px;
    font-weight: 700;
    color: #223344; /* A dark navy blue color */
    margin: 0;
}
